body {
  padding-top: 50px; }

.main-content {
  padding: 40px 15px; }

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 40px 0; }
  .spinner p {
    margin-top: 20px; }

.table .col-05 {
  width: 5%; }
.table .col-1 {
  width: 10%; }
.table .col-2 {
  width: 20%; }
.table .col-3 {
  width: 30%; }
.table .col-4 {
  width: 40%; }
.table tr td {
  vertical-align: middle; }

.sortables {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle; }
  .sortables span:first-child {
    position: absolute;
    top: 0; }
  .sortables span:last-child {
    position: absolute;
    bottom: 0; }
  .sortables span {
    color: lightgray;
    font-size: 18px; }
  .sortables span:hover {
    color: #002a80; }
