<div class="form-group" ng-controller="BalanceTypeController">
  <label class="col-sm-3 control-label">BalanceType</label>

  <div class="col-sm-8">
    <ui-select ng-model="manager.selectedResource.balancePolicyType" required>
      <ui-select-match placeholder="Select one balancetype">
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices repeat="balancepolicytype.selfLink as balancepolicytype in (manager.balancepolicytype
      | filter: { name: $select.search }) track by balancepolicytype.id">
        <span ng-bind="balancepolicytype.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
