<div class="form-group" ng-controller="BalancePolicyController">
  <label class="col-sm-3 control-label">BalancePolicy</label>

  <div class="col-sm-8">
    <ui-select ng-model="manager.selectedResource.balancePolicy" required>
      <ui-select-match placeholder="Select one balancepolicy">
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices repeat="balancepolicy.selfLink as balancepolicy in (manager.balancepolicy
      | filter: { name: $select.search }) track by balancepolicy.id">
        <span ng-bind="balancepolicy.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
