<div class="form-group" ng-controller="DriverController">
  <label class="col-sm-3 control-label">Driver</label>

  <div class="col-sm-8">
    <ui-select ng-model="manager.selectedResource.driver" required>
      <ui-select-match placeholder="Select one driver">
        <span ng-bind="$select.selected"></span>
      </ui-select-match>
      <ui-select-choices repeat="driver in (manager.driver
      | filter: $select.search)">
        <span ng-bind="driver"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
