<div class="form-group" ng-controller="EnvironmentController">
  <label class="col-sm-3 control-label">Environment</label>

  <div class="col-sm-8">
    <ui-select ng-model="manager.selectedResource.environment" required>
      <ui-select-match placeholder="Select one environment">
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices repeat="environment.selfLink as environment in (manager.environment
      | filter: { name: '!Null Environment' }
      | filter: { name: $select.search }) track by environment.id">
        <div ng-bind-html="environment.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
