<div class="form-group">
    <label class="col-sm-3 control-label">Environments</label>

    <div class="col-sm-8">
        <ui-select ng-model="manager.selectedResource.environments" close-on-select="false" multiple>
            <ui-select-match placeholder="Select environments...">{{ $item.name }}</ui-select-match>
            <ui-select-choices repeat="environment.selfLink as environment in manager.environment | filter: { name: $select.search }"
                               refresh="manager.loadListResources('environment', $select.search)"
                               refresh-delay="500"
                               minimum-input-length="2">
                <div ng-bind-html="environment.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>