<div class="form-group" ng-controller="PoolController">
    <label class="col-sm-3 control-label">Pool</label>

    <div class="col-sm-8">
        <select name="pool" ng-model="manager.selectedResource.pool"
                class="form-control input-md" required>
            <option value="">Select one pool</option>
            <option ng-repeat="pool in manager.pool"
                    ng-selected="{{pool.selfLink==manager.selectedResource.pool}}"
                    value="{{pool.selfLink}}">{{pool.name}}
            </option>
        </select>
    </div>
</div>