<div class="form-group">
  <label class="col-sm-3 control-label">Pool</label>

  <div class="col-sm-8">
    <ui-select ng-model="manager.selectedResource.pool" required>
      <ui-select-match placeholder="Select one pool">
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices repeat="pool.selfLink as pool in (manager.pool
      | filter: { name: $select.search }) track by pool.id"
      refresh="manager.loadListResources('pool', $select.search)"
      refresh-delay="500"
      minimum-input-length="3">
        <div ng-bind-html="pool.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
