<div class="form-group" ng-controller="ProviderController">
  <label class="col-sm-3 control-label">Provider</label>

  <div class="col-sm-8">
    <ui-select ng-model="manager.selectedResource.provider" required>
      <ui-select-match placeholder="Select one provider">
        <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices repeat="provider.selfLink as provider in (manager.provider
      | filter: { name: $select.search}) track by provider.id">
        <span ng-bind="provider.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
