<div class="form-group" ng-controller="RuleController">
    <label class="col-sm-3 control-label">Rule Default</label>

    <div class="col-sm-8">
        <select name="rule" ng-model="manager.selectedResource.ruleDefault"
                class="form-control input-md">
            <option value="">Select one rule default</option>
            <option ng-repeat="rule in manager.rule"
                    ng-selected="{{rule.selfLink==manager.selectedResource.ruleDefault}}"
                    value="{{rule.selfLink}}">{{rule.name}}
            </option>
        </select>
        <span class="help-block">Only marks a rule already associated as a last option. <br> To delete VirtualHost you need to disassociate the rule default.</span>
    </div>
</div>