<div class="form-group">
  <label class="col-sm-3 control-label">VirtualHost Group</label>

  <div class="col-sm-8">
    <div class="input-group">
      <ui-select ng-model="manager.selectedResource.virtualhostgroup">
        <ui-select-match placeholder="Select one virtualhost group">
          <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="virtualhost.selfLink as virtualhost in manager.virtualhost
        | filter: { name: $select.search }"
                           refresh="manager.loadListResources('virtualhost', $select.search)"
                           refresh-delay="500"
                           minimum-input-length="3">
          <div ng-bind-html="virtualhost.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <span class="input-group-btn">
        <button type="button" class="btn btn-danger form-control ui-select-toggle"
          ng-click="cleanVirtualHostGroup()">
            <i class="fa fa-trash-o"></i>
        </button>
      </span>
    </div>
    <span class="help-block">Leave blank to create your virtualhost group.</span>
  </div>
</div>