<div class="form-group" ng-controller="VirtualHostController">
    <label class="col-sm-3 control-label">Parents</label>

    <div class="col-sm-8">
        <select name="parents" ng-model="manager.selectedResource.parents"
                class="form-control input-md" required multiple>
            <option ng-repeat="virtualhost in manager.virtualhost"
                    ng-selected="{{manager.selectedResource.parents.indexOf(virtualhost.selfLink) > -1}}"
                    value="{{virtualhost.selfLink}}">{{virtualhost.name}}
            </option>
        </select>
    </div>
</div>