<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			TargetType
			<div class="pull-right">
				<button type="button" class="btn btn-success" ng-click="showManagerModal()">
					Create
				</button>
			</div>
		</h3>
	</div>

	<table class="table table-hover"
		   ng-hide="manager.resource.length == 0"
		   infinite-scroll="loadMore()"
		   infinite-scroll-immediate-check="false"
		   infinite-scroll-distance="1">
		<thead>
		<tr>
			<th class="col-05 text-center">#</th>
			<th class="col-05">Status</th>
			<th class="col-8">Name</th>
			<th class="col-1">&nbsp;</th>
		</tr>
		</thead>
		<tr ng-repeat="resource in manager.resources">
			<td class="text-center">{{resource.id}}</td>
			<td class="text-center">
				<ng-include src="'templates/common/status.table.html'"></ng-include>
			</td>
			<td>{{resource.name}}</td>
			<td class="text-center">
				<ng-include src="'templates/common/buttons.table.html'"></ng-include>
			</td>
		</tr>
	</table>

	<div ng-show="manager.resource.length == 0 && !manager.isLoading">
		<div class="alert alert-info">
			<p class="text-center">No results found for search term '{{ search }}'</p>
		</div>
	</div>

	<cc-spinner is-loading="manager.isLoading"
				message="Loading..."></cc-spinner>
</div>
