<div class="form-group" ng-controller="TargetTypeController">
    <label class="col-sm-2 control-label">TargetType</label>

    <div class="col-sm-9">
        <select name="targetType" ng-model="manager.selectedResource.targetType"
                class="form-control input-md" required>
            <option value="">Select one targetype</option>
            <option ng-repeat="targettype in manager.targettype"
                    ng-selected="{{targettype.selfLink==manager.selectedResource.targetType}}"
                    value="{{targettype.selfLink}}">{{targettype.name}}
            </option>
        </select>
    </div>
</div>