<div class="col-lg-12">
	<h3 class="page-header">Dashboard</h3>
</div>
<div class="col-lg-3 col-md-6" ng-controller="VirtualHostController">
	<div class="panel">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-sitemap fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<div class="huge">{{ manager.virtualhost.length }}</div>
					<div>VirtualHost</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-6" ng-controller="RuleController">
	<div class="panel">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-random fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<div class="huge">{{ manager.rule.length }}</div>
					<div>Rule</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-6" ng-controller="PoolController">
	<div class="panel">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-th-large fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<div class="huge">{{ manager.pool.length }}</div>
					<div>Pool</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-6" ng-controller="TargetController">
	<div class="panel">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<i class="fa fa-server fa-5x"></i>
				</div>
				<div class="col-xs-8 text-right">
					<div class="huge">{{ manager.target.length }}</div>
					<div>Target</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="isAdmin()">
	<div class="col-lg-3 col-md-6" ng-controller="AccountController">
		<div class="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-user fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<div class="huge">{{ manager.account.length }}</div>
						<div>Account</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6" ng-controller="TeamController">
		<div class="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-users fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<div class="huge">{{ manager.team.length }}</div>
						<div>Team</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6" ng-controller="ProjectController">
		<div class="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-clone fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<div class="huge">{{ manager.project.length }}</div>
						<div>Project</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6" ng-controller="FarmController">
		<div class="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-cubes fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<div class="huge">{{ manager.farm.length }}</div>
						<div>Farm</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>