<div class="col-lg-12">
	<h3 class="page-header">Dashboard</h3>
</div>
<div class="col-lg-3 col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-magic fa-5x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<div class="huge">{{virtualhosts.length}}</div>
					<div>VirtualHosts!</div>
				</div>
			</div>
		</div>
		<a href="/virtualhost">
			<div class="panel-footer">
				<span class="pull-left">View Details</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

				<div class="clearfix"></div>
			</div>
		</a>
	</div>
</div>
<div class="col-lg-3 col-md-6">
	<div class="panel panel-green">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-users fa-5x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<div class="huge">{{accounts.length}}</div>
					<div>Accounts!</div>
				</div>
			</div>
		</div>
		<a href="/account">
			<div class="panel-footer">
				<span class="pull-left">View Details</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

				<div class="clearfix"></div>
			</div>
		</a>
	</div>
</div>
<div class="col-lg-3 col-md-6">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-clone fa-5x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<div class="huge">{{projects.length}}</div>
					<div>Projects!</div>
				</div>
			</div>
		</div>
		<a href="/project">
			<div class="panel-footer">
				<span class="pull-left">View Details</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

				<div class="clearfix"></div>
			</div>
		</a>
	</div>
</div>
<div class="col-lg-3 col-md-6">
	<div class="panel panel-red">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-sitemap fa-5x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<div class="huge">{{farms.length}}</div>
					<div>Farms!</div>
				</div>
			</div>
		</div>
		<a href="/farm">
			<div class="panel-footer">
				<span class="pull-left">View Details</span>
				<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

				<div class="clearfix"></div>
			</div>
		</a>
	</div>
</div>