<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			Farm
			<ng-include src="'views/common/header.list.html'"></ng-include>
		</h3>
	</div>

	<table class="table table-hover"
		   ng-hide="manager.resource.length == 0"
		   infinite-scroll="loadMore()"
		   infinite-scroll-immediate-check="false"
		   infinite-scroll-disabled="manager.isLoading">
		<thead>
		<tr>
			<th class="col-05 text-center">#</th>
			<th class="col-05 text-center">Sync</th>
			<th class="col-1">Name</th>
			<th class="col-2">Domain</th>
			<th class="col-2">API</th>
			<th class="col-1">Provider</th>
			<th class="col-1">Environment</th>
			<th class="col-2">&nbsp;</th>
		</tr>
		</thead>
		<tr ng-repeat="resource in manager.resources">
			<td class="text-center">{{resource.id}}</td>
			<td class="text-center">
				<gw-sync status="{{ resource._status }}"></gw-sync>
			</td>
			<td>{{resource.name}}</td>
			<td>{{resource.domain}}</td>
			<td ng-bind-html="replace(resource.api)"></td>
			<td>{{resource.providerObj.name}}</td>
			<td>{{resource.environmentObj.name}}</td>
			<td class="text-center">
				<a ng-href="{{manager.statsFarmUrl}}{{resource.nameStats}}"
				   data-toggle="tooltip" title="See metrics of your farm"
				   data-placement="bottom" bs-tooltip
				   target="_blank" class="btn btn-default btn-sm">
					<i class="fa fa-bar-chart fa-fw"></i>
				</a>
				&nbsp;
				<ng-include src="'views/common/buttons.table.html'"></ng-include>
				&nbsp;
				<button class="btn btn-warning btn-sm" ladda="manager.isReloading" data-spinner-size="20"
					ng-click="reloadFarm(resource)" data-toggle="tooltip" title="Clear information to perform sync"
					data-placement="bottom" bs-tooltip>
					<i class="fa fa-refresh"></i>
				</button>
				<button class="btn btn-info btn-sm" ladda="manager.isUnlocking" data-spinner-size="20"
						ng-click="unlockFarm(resource)" data-toggle="tooltip" title="Unlock entity between instances"
						data-placement="bottom" bs-tooltip>
						<i class="fa fa-unlock-alt"></i>
				</button>
			</td>
		</tr>
	</table>

	<div ng-show="manager.resource.length == 0 && !manager.isLoading">
		<div class="alert alert-info">
			<p class="text-center">No results found for search term '{{ search }}'</p>
		</div>
	</div>

	<gw-spinner is-loading="manager.isLoading"
				message="Loading..."></gw-spinner>
</div>