<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			Pool
			<ng-include src="'views/common/header.list.html'"></ng-include>
		</h3>
	</div>

	<table class="table table-hover"
		   ng-hide="manager.resource.length == 0"
		   infinite-scroll="loadMore()"
		   infinite-scroll-immediate-check="false"
		   infinite-scroll-disabled="manager.isLoading">
		<thead>
			<tr>
                <th class="col-05 text-center">#</th>
                <th class="col-05 text-center">Sync</th>
				<th class="col-3">
					Name
					<div class="sortables" ng-if="!manager.isSearching">
						<span ng-click="doSort('name,asc')" class="fa fa-sort-asc"></span>
						<span ng-click="doSort('name,desc')" class="fa fa-sort-desc"></span>
					</div>
				</th>
				<th class="col-2 text-center">
					Project
					<div class="sortables" ng-if="!manager.isSearching">
						<span ng-click="doSort('project.name,asc')" class="fa fa-sort-asc"></span>
						<span ng-click="doSort('project.name,desc')" class="fa fa-sort-desc"></span>
					</div>
				</th>
				<th class="col-1 text-center">BalancePolicy</th>
				<th class="col-2 text-center">
					Environment
					<div class="sortables" ng-if="!manager.isSearching">
						<span ng-click="doSort('environment.name,asc')" class="fa fa-sort-asc"></span>
						<span ng-click="doSort('environment.name,desc')" class="fa fa-sort-desc"></span>
					</div>
				</th>
                <th class="col-1">&nbsp;</th>
			</tr>
		</thead>
		<tr ng-repeat="resource in manager.resources">
            <td class="text-center">{{resource.id}}</td>
            <td class="text-center">
				<gw-sync status="{{ resource._status }}"></gw-sync>
            </td>
		    <td>{{resource.name}}</td>
			<td class="text-center">{{resource.projectObj.name}}</td>
			<td class="text-center">{{resource.balancePolicyObj.name}}</td>
			<td class="text-center">{{resource.environmentObj.name}}</td>
            <td class="text-center">
				<ng-include src="'views/common/buttons.table.html'"></ng-include>
            </td>
		</tr>
	</table>

	<div ng-show="manager.resource.length == 0 && !manager.isLoading" >
		<div class="alert alert-info" >
			<p class="text-center" >No results found for search term '{{ search }}'</p >
		</div >
	</div >

	<gw-spinner is-loading="manager.isLoading"
				message="Loading..."></gw-spinner>
</div>
