<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			Team
			<div class="pull-right">
				<button type="button" class="btn btn-success" ng-click="showManagerModal()">
					Create
				</button>
			</div>

			<div class="pull-right">
				<form name="form-search" class="form-inline form-search" ng-submit="doSearch()" novalidate>
					<div class="form-group">
						<input type="text"
							   class="form-control"
							   id="searchText"
							   ng-model="manager.searchText"
							   placeholder="Search name.."
							   disable-invalid-styling="true"
						/>
					</div>
					<button type="submit" class="btn btn-default btn-sm">OK</button>
				</form>
			</div>
		</h3>
	</div>

	<table class="table table-hover"
		   ng-hide="manager.resource.length == 0 && manager.isLoading"
		   infinite-scroll="loadMore()"
		   infinite-scroll-immediate-check="false"
		   infinite-scroll-disabled="manager.isLoading">
		<thead>
		<tr>
			<th class="col-05 text-center">#</th>
			<th class="col-4">Name</th>
			<th class="col-4-5">Accounts</th>
			<th class="col-1">&nbsp;</th>
		</tr>
		</thead>
		<tr ng-repeat="resource in manager.resources">
			<td class="text-center">{{resource.id}}</td>
			<td>{{resource.name}}</td>
			<td ng-if="!resource.accountsObj || resource.accountsObj.length > 5">{{resource.accountsObj.length}}</td>
		    <td ng-if="resource.accountsObj.length <= 5"><span ng-repeat="account in resource.accountsObj">{{account.name}}, </span></td>
			<td class="text-center">
				<button class="btn btn-default btn-sm"
						ng-click="showManagerModal(resource)">
					<i class="fa fa-pencil"></i>
				</button>
				<button class="btn btn-danger btn-sm"
						ladda="manager.isDeleting"
						data-spinner-size="20"
						ng-click="removeResource(resource)">
					<i class="fa fa-trash-o"></i>
				</button>
			</td>
		</tr>
	</table>

	<div ng-show="manager.resource.length == 0 && !manager.isLoading">
		<div class="alert alert-info">
			<p class="text-center">No results found for search term '{{ search }}'</p>
		</div>
	</div>

	<gw-spinner is-loading="manager.isLoading"
				message="Loading..."></gw-spinner>
</div>
