<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            VirtualHost
            <ng-include src="'views/common/header.list.html'"></ng-include>
        </h3>
    </div>

    <table class="table table-hover"
           ng-hide="manager.resource.length == 0 && manager.isLoading"
           infinite-scroll="loadMore()"
           infinite-scroll-immediate-check="false"
           infinite-scroll-disabled="manager.isLoading">
        <thead>
        <tr>
            <th class="col-05 text-center">#</th>
            <th class="col-05 text-center">Sync</th>
            <th class="col-3">
                Name
            </th>
            <th class="col-2 text-center">
                Project
            </th>
            <th class="col-2 text-center">
                Environment
            </th>
            <th class="col-2">&nbsp;</th>
        </tr>
        </thead>
        <tr ng-repeat="resource in manager.resources">
            <td class="text-center">{{resource.id}}</td>
            <td class="text-center">
                <i class="fa fa-circle {{ resource.statusInfo.color }}" data-toggle="tooltip"
                   title="{{ resource.statusInfo.text }}" data-placement="bottom" bs-tooltip></i>
            </td>
            <td>
                {{resource.name}}
            </td>
            <td class="text-center">{{resource.projectObj.name}}</td>
            <td class="text-center env">
                <ul>
                    <li ng-repeat="env in resource.environmentsObj | orderBy:'name'">
                        <span class="label label-default">{{env.name}}</span>
                    </li>
                </ul>
            </td>
            <td class="text-right">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip"
                       title="See metrics of your virtualhost" data-placement="top" bs-tooltip>
                        <i class="fa fa-bar-chart fa-fw"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="env in resource.environmentsObj | orderBy:'name'">
                            <a ng-href="{{manager.statsVirtualhostUrl}}var-virtualhost={{resource.nameStats}}&var-env={{env.nameParsed}}&var-envid={{env.id}}"
                               target="_blank">
                                {{ env.name }}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip"
                       title="See access log of your virtualhost" data-placement="top" bs-tooltip>
                        <i class="fa fa-file-text-o fa-fw"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="env in resource.environmentsObj | orderBy:'name'">
                            <a ng-href="{{env.name.toLowerCase().indexOf('dev') === -1 ? env.name.toLowerCase().indexOf('be') === -1 ? manager.logUrlProdFE : manager.logUrlProdBE : manager.logUrlDev }}{{resource.name}}"
                               target="_blank" ng-if="env.name.toLowerCase().indexOf('qa2') === -1">
                                {{ env.name }}
                            </a>
                        </li>
                    </ul>
                </div>
                <a ng-click="showReportModal(resource.id)"
                   data-toggle="tooltip" title="See complete report of your virtualhost"
                   data-placement="top" bs-tooltip class="btn btn-default btn-sm">
                    <i class="fa fa-eye fa-fw"></i>
                </a>
                &nbsp;&nbsp;
                <ng-include src="'views/common/buttons.table.html'"></ng-include>
            </td>
        </tr>
    </table>

    <div ng-show="manager.resource.length == 0 && !manager.isLoading">
        <div class="alert alert-info">
            <p class="text-center">No results found for search term '{{ search }}'</p>
        </div>
    </div>

    <gw-spinner is-loading="manager.isLoading"
                message="Loading..."></gw-spinner>
</div>