<div ng-controller="ApiController">
	<input id="apiPath" name="apiPath" value="target" class="hidden"/>
	<input id="apiType" name="apiType" value="Backend" class="hidden"/>
	<input id="apiExcludeLinks" name="apiExcludeLinks" value="self-rules" class="hidden"/>
	<div class="pull-right">
		<button type="button" class="btn btn-success add-api-button" ng-click="apiModal()">
			Add Backend
		</button>
	</div>
	<div class="clearfix"></div>

	<div class="alert alert-info" role="alert" ng-hide="apis && apis.length > 0">
		There are no backendpool yet.
	</div>

	<table class="table table-hover" ng-show="apis && apis.length > 0">
		<thead>
			<tr>
			    <th>Name</th>
                <th>BackendPool</th>
				<th>Project</th>
			    <th>Type</th>
				<th>Environment</th>
			    <th>&nbsp;</th>
			</tr>
		</thead>
		<tr ng-repeat="api in apis">
		    <td>{{api.name}}</td>
            <td>{{api.parentObj.name}}</td>
			<td>{{api.projectObj.name}}</td>
		    <td>{{api.targetTypeObj.name}}</td>
		    <td>
				<button type="button" ng-click="apiModal(api)" class="btn btn-default btn-sm btn-edit" title="Edit">
    			   <span class="glyphicon glyphicon-pencil"></span>
    			</button>
    			<button type="button" ng-click="remove(api)" class="btn btn-sm btn-danger" title="Delete">
    			   <span class="glyphicon glyphicon-trash"></span>
    		   </button>
			</td>
		</tr>
	</table>

	<script type="text/ng-template" id="apiModalForm.html">
		<div class="modal-header">
			<h3 class="modal-title">Backend</h3>
		</div>
		<form name="apiForm" ng-submit="apiForm.$valid && save()" novalidate class="form-horizontal">
			<div class="modal-body">
                <div class="form-group">
					<label class="col-md-4 control-label" for="api-id">Name</label>
					<div class="col-md-5">
						<input id="id" name="id" ng-model="api.id" value="{{api.id}}" class="hidden"/>
						<input id="name" name="name" ng-model="api.name" type="text" class="form-control input-md" required>
					</div>
                </div>

                <div class="form-group" ng-controller="BackendPoolController">
                    <label class="col-md-4 control-label" for="parent">BackendPool</label>
                    <div class="col-md-5">
                        <select name="parent" ng-model="api.parent" class="form-control input-md" required>
                            <option value="">Select one backendpool</option>
                            <option ng-repeat="backendpool in backendpools" ng-selected="{{backendpool.selfLink==api.parent}}" value="{{backendpool.selfLink}}">{{backendpool.name}}</option>
                        </select>
                    </div>
                </div>

				<div class="form-group" ng-controller="TargetTypeController">
					<label class="col-md-4 control-label" for="Type">Type</label>
					<div class="col-md-5">
						<select name="targetype" ng-model="api.targetType" class="form-control input-md" required>
							<option value="">Select one type</option>
							<option ng-repeat="targettype in targettypes" ng-selected="{{targettype.selfLink==api.targetType}}" value="{{targettype.selfLink}}">{{targettype.name}}</option>
						</select>
					</div>
				</div>

				<div class="form-group" ng-controller="ProjectController">
					<label class="col-md-4 control-label" for="project">Project</label>
					<div class="col-md-5">
						<select name="project" ng-model="api.project" class="form-control input-md" required>
							<option value="">Select one project</option>
							<option ng-repeat="project in projects" ng-selected="{{project.selfLink==api.project}}" value="{{project.selfLink}}">{{project.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" id="save" name="save" class="btn btn-primary">Save</button>
				<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			</div>
		</form>
	</script>
</div>
