<div id="createModal" class="modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
        class="close"
        ng-click="managerModal.hide()">&times;</button>
        <h4 class="modal-title">{{mode}} Pool</h4>
      </div>
      <form name="managerForm" ng-submit="saveResource()" novalidate class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Name</label>

            <div class="col-sm-8">
              <input id="id" name="id" ng-model="manager.selectedResource.id"
                     value="{{manager.selectedResource.id}}" class="hidden"/>
              <input id="name" name="name" ng-model="manager.selectedResource.name" type="text"
                     class="form-control input-md" ng-if="!manager.selectedResource.id" required>
              <p class="form-control-static" ng-if="manager.selectedResource.id"><b>{{manager.selectedResource.name}}</b></p>
            </div>
          </div>

          <ng-include src="'views/common/list/project.html'"></ng-include>

          <ng-include src="'views/common/list/environment.html'"></ng-include>

          <hr>

          <ng-include src="'views/common/list/balancepolicy.html'"></ng-include>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="allow">Allows</label>
            <div class="col-sm-8">

              <input id="allow" name="allow" ng-model="manager.selectedResource.allow" type="text"
                     class="form-control input-md" ng-pattern="regex_pool_allow" ng-pattern-err-type="badAllow"
                     disable-valid-styling="true">
              <span class="help-block">Use commas to separate IPs.</span>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="hc_tcp_only">&nbsp;</label>

            <div class="col-sm-8">
              <label>
                <input type="checkbox" ng-model="manager.selectedResource.hc_tcp_only" id="hc_tcp_only"
                       disable-valid-styling="true">
                Healthcheck TCP Only?
              </label>
            </div>
          </div>

          <div class="form-group form-group-no-margin" ng-if="!manager.selectedResource.hc_tcp_only">
            <label class="col-sm-3 control-label" for="hc_path">HealthChecker Path</label>

            <div class="col-sm-8">
              <input id="hc_path" name="hc_path"
              ng-model="manager.selectedResource.hc_path" type="text"
              ng-pattern="/^\//" ng-pattern-err-type="badHCPath"
              class="form-control input-md" required>
              <span class="help-block">Example: /healthcheck.html</span>
            </div>
          </div>

          <div class="form-group form-group-no-margin" ng-if="!manager.selectedResource.hc_tcp_only">
            <label class="col-sm-3 control-label" for="properties.hcStatusCode">HealthChecker Status</label>

            <div class="col-sm-8">
              <input id="properties.hcStatusCode" name="properties.hcStatusCode"
              ng-model="manager.selectedResource.properties.hcStatusCode" type="text"
              class="form-control input-md" required>
              <span class="help-block">Example: 200</span>
            </div>
          </div>

          <div class="form-group form-group-no-margin" ng-if="!manager.selectedResource.hc_tcp_only">
            <label class="col-sm-3 control-label" for="hc_host">HealthChecker Host</label>

            <div class="col-sm-8">
              <input id="hc_host" name="hc_host"
              ng-model="manager.selectedResource.hc_host" type="text"
              class="form-control input-md">
              <span class="help-block">Example: localhost.com (Default don't send header host)</span>
            </div>
          </div>

          <div class="form-group form-group-no-margin" ng-if="!manager.selectedResource.hc_tcp_only">
            <label class="col-sm-3 control-label" for="hc_body">HealthChecker Body</label>

            <div class="col-sm-8">
              <input id="hc_body" name="hc_body"
              ng-model="manager.selectedResource.hc_body" type="text"
              class="form-control input-md">
              <span class="help-block">Example: WORKING (Default don't check response body)</span>
            </div>
          </div>

          <ng-include src="'views/common/list/methods.html'" ng-if="!manager.selectedResource.hc_tcp_only"></ng-include>

          <ng-include src="'views/common/footer.modal.html'"></ng-include>
        </div>
        <div class="modal-footer">
          <button type="submit" id="save" name="save" ladda="manager.isSaving" class="btn btn-primary">Save
          </button>
          <button class="btn btn-default" type="button" ng-click="managerModal.hide()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
